@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --pink-light: hsl(275, 100%, 97%);
    --purple-gray: hsl(292, 16%, 49%);
    --purple-dark: hsl(292, 42%, 14%);
    --box-shadow: hsla(292, 16%, 49%, 50%);
    --hover: #AD28EB;
}

body {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    background-image: url(/assets/images/background-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-color: var(--pink-light);;
    background-position: top;
    overflow-x: hidden;
}

h1 {
    color: var(--purple-dark);
    font-size: 2rem;
    font-weight: 700;
}

.h2 {
    color: var(--purple-dark);
    font-size: 1.125rem;
    font-weight: 600;
    text-align: left;
}

p {
    color: var(--purple-gray);
}

.card {
    z-index: 100;
    position: relative;
    top: 10em;
    max-width: 21em;
    background-color: var(--white);
    border-radius: 1rem;
    margin: 0 auto;
    padding: 1.5rem;
    box-shadow: 1px 1px 40px 2px var(--box-shadow);
}

.title {
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-content: space-around;
    width: 50%;
}

.title>img {
    width: 15%;
    margin-right: 1.5rem;
}


/* Accordion */
.accordion {
    width: 100%;
    background-color: transparent;
    border: none;
    line-height: 1.25;
    padding: 0;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    transition: 0.4s;
    cursor: pointer;
}

.accordion:after {
    content: url(../assets/images/icon-plus.svg);
}

.active:after {
    content: url(../assets/images/icon-minus.svg);
}

h2:hover {
    color: var(--hover);
    cursor:  pointer;
}

hr {
    width: 100%;
    border: 0.125rem solid var(--pink-light);
    border-radius: 0.125rem;
    margin: 1.5rem 0;
}

.panel {
    display: none;
    background-color: var(--white);
    overflow: hidden;
}

.panel>p {
    font-size: 0.875rem;
}

/* Footer */
.attribution { 
    position: relative;
    bottom: -20em;
    font-size: 11px;
    text-align: center;
    z-index: 101;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width:376px) {
    body{
        background-image: url(../assets/images/background-pattern-desktop.svg);
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1rem;
    }

    .card {
        max-width: 33em;
        padding: 2rem;
    }

}